    <!-- Header Section -->
    <%- include('components/header.ejs') %>

    <!-- Main Navigation -->
    <%- include('components/mainNav.ejs') %>

    <!-- Main Content -->
    <main class="container mt-5">
      <%- include('Content/' + page + '.ejs') %>
    </main>

    <!-- Margin Below -->
    <hr class="marginBelow">

    <!-- Bottom Navigation -->
   
    <%- include('components/bottomNav.ejs') %>

    <!-- Footer Section -->
    <%- include('components/footer.ejs') %>